<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>GMC DefenceBot - 설정</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/sub.css">
    <link rel="stylesheet" type="text/css" href="../Content/lc_switch.css">
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/lc_switch.js"></script>
</head>
<body style="min-width:1280px;">
    <div class="setting">
        <h2>마진거래 설정</h2>
        <div class="box">
            <div class="setting_box">
                <div class="setting_1">
                    <h3>봇</h3>
                    <!-- <a class="btn btn-outline-secondary btn-sm mgR10" href="coinisKRWBotDetailSet" role="button" target="_self">세부설정</a> -->
                    <a class="btn btn-outline-dark btn-sm mgR10" href="log" role="button" target="_self">로그</a>
                    <a class="btn btn-outline-dark btn-sm mgR10" href="positionAll" role="button" target="_self">포지션(해외)</a>
                    <a class="btn btn-outline-dark btn-sm mgR10" href="positionAll_internal" role="button" target="_self">포지션(국내))</a>
                    <a class="btn btn-outline-dark btn-sm mgR10" href="avg_order_history?site_type=korean" role="button" target="_self">거래평균(국내)</a>
                    <a class="btn btn-outline-dark btn-sm mgR10" id="finance_tag" href="" role="button" target="_self">재정거래(국내)</a>
                    <input type="checkbox" id="marginTrade" name="bot" class="lcs_check setting_check"<%=isMargin.execBot%> />
                </div>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥1</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex1" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex1" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex1" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex1_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex1%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥2</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex2" role="button" target="_self">로그</a>
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex2" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex2" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex2_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex2%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥3</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex3" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex3" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex3" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex3_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex3%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥4</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex4" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex4" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex4" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex4_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex4%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥5</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex5" role="button" target="_self">로그</a>
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex5" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex5" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex5_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex5%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥6</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex6" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex6" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex6" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex6_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex6%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥7</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex7" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex7" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex7" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex7_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex7%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥8</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex8" role="button" target="_self">로그</a>
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex8" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex8" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex8_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex8%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥9</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex9" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex9" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex9" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex9_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex9%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">비맥10</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bitmex10" role="button" target="_self">로그</a> 
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bitmex10" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bitmex10" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bitmex10_execFlag" name="func" class="lcs_check" <%=isMargin.exec_bitmex10%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">빗썸</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=bithumb" role="button" target="_self">로그</a>  
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=bithumb" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=bithumb" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="bithumb_execFlag" name="func" class="lcs_check"  <%=isMargin.exec_bithumb%>/>
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">코인원</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=coinone" role="button" target="_self">로그</a>  
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=coinone" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=coinone" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="coinone_execFlag" name="func" class="lcs_check" <%=isMargin.exec_coinone%> />
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">업비트</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=upbit" role="button" target="_self">로그</a>  
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=upbit" role="button" target="_self">거래내역</a>   
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=upbit" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="upbit_execFlag" name="func" class="lcs_check"  <%=isMargin.exec_upbit%>/>
                        </div>
                    </div>
                </form>
                <form class="setting_1_2">
                    <div class="row" style="margin-left:0;">
                        <label for="staticEmail" class="setting_name col-sm-2 col-form-label">코빗</label>
                        <div class="setting_onoff col-sm-10">
                            <a class="btn btn-outline-dark btn-sm mgR10" href="log?site=korbit" role="button" target="_self">로그</a>  
                            <a class="btn btn-outline-dark btn-sm mgR10" href="orderHistoryTotal?site=korbit" role="button" target="_self">거래내역</a>
                            <a class="btn btn-outline-secondary btn-sm mgR10" href="setting?site=korbit" role="button" target="_self">세부설정</a>
                            <input type="checkbox" id="korbit_execFlag" name="func" class="lcs_check"  <%=isMargin.exec_korbit%>/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.lcs_check').lc_switch();
            var finance_url = window.location.origin + ":3000/financialTradeSet";
            $("#finance_tag").attr("href",finance_url);
            $('body').delegate('.lcs_check', 'lcs-statuschange', function() {
                var askType = $(this).attr('name');
                if(askType === 'bot'){ //봇 on/off
                    var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
                    console.log('field changed status: '+ status );
                    var obj = new Object();
                    obj["id"] = $(this).attr('id');
                    (status === "checked") ?  obj["flag"] = "start" : obj["flag"] = "stop";
                    $.ajax({
                        type: "POST",
                        url: "api/botOnOff",
                        dataType: "json",
                        data : obj,
                        success: function(body) {
                            if(body){
                                console.log(body);
                            }
                        },
                        error : function(request, status, error) {
                            console.log("error : " + error);
                        }
                    });
                }else if(askType === 'func'){ // 기능 on/off 
                    console.log("기능 On/Off");
                    var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
                    console.log('field changed status: '+ status );
                    var obj = new Object();
                    var arr = $(this).attr('id').split("_");
                    obj["site"] = arr[0]; //bitmex
                    (status === "checked") ?  obj["execFlag"] = 1 : obj["execFlag"] = 0;
                    console.log(JSON.stringify(obj));
                    $.ajax({
                        type: "POST",
                        url: "api/siteOnOff",
                        dataType: "json",
                        data : obj,
                        success: function(body){
                            if(body){
                                console.log(body);
                            }
                        },
                        error : function(request, status, error) {
                            console.log("error : " + error);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>

